.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: rgb(243, 230, 265);
    border: 1px dotted darkmagenta;
    padding: .7rem;
    margin: 0.5rem 0;
}

.assigned {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted darkmagenta;
    
}